<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>SocialMine.net - Basic Package (Annually)</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="Mannatthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='assets/plugins/morris/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect"><i class="ion-close"></i></button>
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center"><a href="https://socialmine.net/" target="self" class="logo"><img src="https://i.ibb.co/fY847jv/adi-logo.png"/></a>
                    </div>
            </div>
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li><a href="https://socialmine.net/dashboard" class="waves-effect"><i class="mdi mdi-airplay"></i> <span>Dashboard </a></li>
                        <li class="menu-title">Facebook</li>
                        <li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-facebook"></i> <span>Facebook Analytics </span><span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="https://socialmine.net/fb_follower_growth">Follower Growth</a></li>
                                <li><a href="https://socialmine.net/fb_competitor_growth">Competitor Growth</a></li>
                                <li><a href="https://socialmine.net/fb_content_engagement">Content Engagement</a></li>
                                <li><a href="https://socialmine.net/fb_generate_report">Generate Report</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">Twitter</li>
                        <li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-twitter"></i> <span>Twitter Analytics </span><span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="https://socialmine.net/tw_follower_growth">Follower Growth</a></li>
                                <li><a href="https://socialmine.net/tw_competitor_growth">Competitor Growth</a></li>
                                <li><a href="https://socialmine.net/tw_content_engagement">Content Engagement</a></li>
                                <li><a href="https://socialmine.net/tw_hashtag_analysis">Hashtag Analysis</a></li>
                                <li><a href="https://socialmine.net/tw_generate_report">Generate Report</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">Instagram</li>
                        <li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-instagram"></i> <span>Instagram Analytics </span><span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="https://socialmine.net/insta_follower_growth">Follower Growth</a></li>
                                <li><a href="https://socialmine.net/insta_competitor_growth">Competitor Growth</a></li>
                                <li><a href="https://socialmine.net/insta_content_engagement">Content Engagement</a></li>
                                <li><a href="https://socialmine.net/insta_hashtag_analysis">Hashtag Analysis</a></li>
                                <li><a href="https://socialmine.net/insta_generate_report">Generate Report</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">YouTube</li>
                        <li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-youtube-play"></i> <span>YouTube Analytics </span><span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="https://socialmine.net/tube_competitor_growth">Competitor Growth</a></li>
                                <li><a href="https://socialmine.net/tube_content_engagement">Content Engagement</a></li>
                                <li><a href="https://socialmine.net/tube_generate_report">Generate Report</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">Manage Profiles</li>
                        <li class="has_sub"><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-library-plus"></i> <span>Social Profiles </span><span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="https://socialmine.net/social_fb">Facebook</a></li>
                                <li><a href="https://socialmine.net/social_tw">Twitter</a></li>
                                <li><a href="https://socialmine.net/social_insta">Instagram</a></li>
                                <li><a href="https://socialmine.net/social_tube">YouTube</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <!-- Top Bar Start -->
                <div class="topbar">
                    <nav class="navbar-custom">
                        <ul class="list-inline float-right mb-0">
                            <!-- language-->
                            <li class="list-inline-item dropdown notification-list hide-phone"><a class="nav-link dropdown-toggle arrow-none waves-effect text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">English <img src="{{ url_for('static', filename='assets/images/flags/us_flag.jpg') }}" class="ml-2" height="16" alt=""></a>
                                <div class="dropdown-menu dropdown-menu-right language-switch">
                                    <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='assets/images/flags/italy_flag.jpg') }}" alt="" height="16"><span>Italian </span></a>
                                    <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='assets/images/flags/french_flag.jpg') }}" alt="" height="16"><span>French </span></a>
                                    <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='assets/images/flags/spain_flag.jpg') }}" alt="" height="16"><span>Spanish </span></a>
                                    <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='assets/images/flags/russia_flag.jpg') }}" alt="" height="16"><span>Russian</span></a>
                                </div>
                            </li>

                            <li class="list-inline-item dropdown notification-list"><a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><i class="ti-bell noti-icon"></i> <span class="badge badge-success noti-icon-badge">2</span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5><span class="badge badge-danger float-right">2</span>Notification</h5></div>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details"><b>Subscription has expired</b><small class="text-muted">Please, renew your subscription.</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
                                        <p class="notify-details"><b>Your report is ready</b><small class="text-muted">Collect your report from your email.</small></p>
                                    </a>
                                    <!-- All--></div>
                            </li>
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    
                                    {% if image_uploaded_before == False %}
                                <img src="{{ url_for('static', filename='assets/images/users/avatar-6.jpg') }}" alt="user" class="rounded-circle">
                                {% else %}
                                <img src="{{ url_for('static', filename=uploaded_image) }}" alt="user" class="rounded-circle">
                                {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5>Welcome</h5></div><a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a> <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5 text-muted"></i> Subscription</a> <a class="dropdown-item" href="#"><span class="badge badge-success float-right"></span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a> 
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="https://socialmine.net/logout/"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a></div>
                            </li>
                        </ul>
                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <button class="button-menu-mobile open-left waves-light waves-effect"><i class="mdi mdi-menu"></i></button>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
                <!-- Top Bar End -->
                <div class="page-content-wrapper">
<div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a href="#">ADI</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Dashboard</h4></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <h5 class="header-title pb-3 mt-0">Chosen Package</h5>
										<p>You've chosen to purchase <b>Basic Package</b> for <b>12 Months</b> duration</p>
										<br/>
										<p><button type="button" class="btn btn-primary" id="custom-button">Pay with Card Now</button></p>
										<br>
										<p>After payment, if the page doesn't automatically refresh, then please <a href="https://socialmine.net/dashboard/">click this link</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- Page content Wrapper -->
            </div>
            <!-- content -->
            <footer class="footer">© 2019 ADI - Aggregate Digital Innovation.</footer>
        </div>
        <!-- End Right content here -->
    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/modernizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/detect.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/fastclick.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.blockUI.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waves.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/skycons/skycons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/raphael/raphael-min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/morris/morris.min.js') }}"></script>
    <!-- App js -->
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var handler = StripeCheckout.configure({
      key: "{{ key }}",
      image: "https://stripe.com/img/documentation/checkout/marketplace.png",
      locale: "auto",
      token: function(token) {
        fetch("/charge/", {
          method: "POST",
          headers: { "Content-Type": "application/json", },
          body: JSON.stringify({
            token: token.id,
            product: "{{ product.id }}"
          }),
        })
        .then(function(response) {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Something went wrong.');
          }
        })
        .then(function(jsonResponse) {
          // update the alert message
          document.getElementById("alert").innerText = "Thanks for purchasing!"
          // show the bootstrap alert
          document.getElementById("status").style.display = "inline";
        })
        .catch(function(err) {
          // update the alert message
          document.getElementById("alert").innerText = "Something went wrong."
          // show the bootstrap alert
          document.getElementById("status").style.display = "inline";
        });
      }
    });
    document.getElementById("custom-button").addEventListener("click", function(e) {
      // hide the bootstrap alert
      //document.getElementById("status").style.display = "none";
      handler.open({
        name: "{{ product.name }}",
        description: "{{ product.description }}",
        amount: parseInt("{{ product.amount }}")
      });
      e.preventDefault();
    });

    window.addEventListener("popstate", function() {
      handler.close();
    });
  </script>
</body>

</html>
