<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>SocialMine.net - Instagram Report</title>
</head>

<body class="py-4">
    <div class="container">

        <h1>SocialMine.net - Instagram Report</h1>

        <h2 class="mt-4">Instagram Account Statistics</h2>

		<table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Title</th>
			  <th scope="col">Data</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">1</th>
			  <td>Total Followers</td>
			  <td>{{foll_media[0]}}</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>Total Posts</td>
			  <td>{{foll_media[1]}}</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>Engagements</td>
			  <td>{{foll_media[2]}}</td>
			</tr>
		  </tbody>
		</table>

        <h2 class="mt-4">Competitor Profile Statistics</h2>

		<table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Profile Name</th>
			  <th scope="col">Follower</th>
			  <th scope="col">Total Posts</th>
			  <th scope="col">Engagement</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">1</th>
			  <td>{{profile_data[0]}}</td>
			  <td>{{profile_data[6]}}</td>
			  <td>{{profile_data[12]}}</td>
			  <td>{{profile_data[18]}}</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>{{profile_data[1]}}</td>
			  <td>{{profile_data[7]}}</td>
			  <td>{{profile_data[13]}}</td>
			  <td>{{profile_data[19]}}</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>{{profile_data[2]}}</td>
			  <td>{{profile_data[8]}}</td>
			  <td>{{profile_data[14]}}</td>
			  <td>{{profile_data[20]}}</td>
			</tr>
			<tr>
			  <th scope="row">4</th>
			  <td>{{profile_data[3]}}</td>
			  <td>{{profile_data[9]}}</td>
			  <td>{{profile_data[15]}}</td>
			  <td>{{profile_data[21]}}</td>
			</tr>
			<tr>
			  <th scope="row">5</th>
			  <td>{{profile_data[4]}}</td>
			  <td>{{profile_data[10]}}</td>
			  <td>{{profile_data[16]}}</td>
			  <td>{{profile_data[22]}}</td>
			</tr>
			<tr>
			  <th scope="row">6</th>
			  <td>{{profile_data[5]}}</td>
			  <td>{{profile_data[11]}}</td>
			  <td>{{profile_data[17]}}</td>
			  <td>{{profile_data[23]}}</td>
			</tr>
		  </tbody>
		</table>

        <h2 class="mt-4">Instagram Posts Analysis</h2>
		

		<table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Title</th>
			  <th scope="col">Data</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">1</th>
			  <td>Total Followers</td>
			  <td>{{insta_con[0]}}</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>Total Followees</td>
			  <td>{{insta_con[1]}}</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>Media Count</td>
			  <td>{{insta_con[2]}}</td>
			</tr>
			<tr>
			  <th scope="row">4</th>
			  <td>User ID</td>
			  <td>{{insta_con[3]}}</td>
			</tr>
			<tr>
			  <th scope="row">5</th>
			  <td>Biography</td>
			  <td>{{insta_con[4]}}</td>
			</tr>
			<tr>
			  <th scope="row">6</th>
			  <td>Full Name</td>
			  <td>{{insta_con[5]}}</td>
			</tr>
			<tr>
			  <th scope="row">7</th>
			  <td>External URL</td>
			  <td>{{insta_con[6]}}</td>
			</tr>
			<tr>
			  <th scope="row">8</th>
			  <td>Has Public Story</td>
			  <td>{{insta_con[7]}}</td>
			</tr>
			<tr>
			  <th scope="row">9</th>
			  <td>Has Viewable Story</td>
			  <td>{{insta_con[8]}}</td>
			</tr>
			<tr>
			  <th scope="row">10</th>
			  <td>Is private</td>
			  <td>{{insta_con[9]}}</td>
			</tr>
			<tr>
			  <th scope="row">11</th>
			  <td>Is verified</td>
			  <td>{{insta_con[10]}}</td>
			</tr>
			<tr>
			  <th scope="row">12</th>
			  <td>Profile pic URL</td>
			  <td>{{insta_con[11]}}</td>
			</tr>
			<tr>
			  <th scope="row">13</th>
			  <td>Average Likes</td>
			  <td>{{insta_con[12]}}</td>
			</tr>
			<tr>
			  <th scope="row">14</th>
			  <td>Average Comments</td>
			  <td>{{insta_con[13]}}</td>
			</tr>
		  </tbody>
		</table>

        <h2 class="mt-4">Instagram Hashtag Analysis</h2>
        

		<table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Hashtag</th>
			  <th scope="col">Engagement</th>
			</tr>
		  </thead>
		  <tbody>
			{%for i in range(0, len_hashtag)%}
			<tr>
			  <th scope="row">{{(i+1)}}</th>
			  <td>{{hashtags[i]}}</td>
			  <td>{{engmt_hashtag[i]}}</td>
			</tr>
			{%endfor%}
		  </tbody>
		</table>

        <h2 class="mt-4">Instagram Account Mentions</h2>
        
		<table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Username</th>
			  <th scope="col">Times Mentioned</th>
			</tr>
		  </thead>
		  <tbody>
			{%for i in range(0, len_mention)%}
			<tr>
			  <th scope="row">{{(i+1)}}</th>
			  <td>{{mentions[i]}}</td>
			  <td>{{engmt_mention[i]}}</td>
			</tr>
			{%endfor%}
		  </tbody>
		</table>
    </div>

</body>

</html>
