{% extends 'back/user/html/ltr/base.html' %}
{% block title %}
Dashboard | SIP India
{% endblock %}
{% block content %}
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Dashboard</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Welcome to SIPIndia.io</h5>
                        <p>To start earning please invest into at least one investment plan.</p>
                        <p>To successfully withdraw funds you may want to add BTC, ETH wallet to your profile.</p>
                        <button type="button" class="btn btn-success btn-lgm">Invest Now</button>
                        <button type="button" class="btn btn-primary btn-lgm">Setup Wallet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <h4 class="text-white">Account Balance</h4>
                        <h2 class="text-white">$ 1200</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-success text-center">
                        <h4 class="text-white">Earnings</h4>
                        <h2 class="text-white">$ 1500</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-danger text-center">
                        <h4 class="text-white">Active Investments</h4>
                        <h2 class="text-white">$ 2200</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-info text-center">
                        <h4 class="text-white">Total Referral</h4>
                        <h2 class="text-white">17</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-danger text-center">
                        <h4 class="text-white">Referral Bonus</h4>
                        <h2 class="text-white">$ 335</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-warning text-center">
                        <h4 class="text-white">Total Deposit</h4>
                        <h2 class="text-white">$ 2200</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <h4 class="text-white">Total Withdraw</h4>
                        <h2 class="text-white">$ 1200</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-hover">
                    <div class="box bg-warning text-center">
                        <h4 class="text-white">Total Investment</h4>
                        <h2 class="text-white"> 2 </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Investment Plans</h4>
                <div class="ml-auto text-right">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!-- Investment Plans Begins -->
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Big Caps </h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Risk</th>
                                <th scope="col">Low</th>
                            </tr>
                            <tr>
                                <th scope="col">Coins(100%)</th>
                                <th scope="col">Top 5</th>
                            </tr>
                            <tr>
                                <th scope="col">Investment Type</th>
                                <th scope="col">Systematic</th>
                            </tr>
                            <tr>
                                <th scope="col">---</th>
                                <th scope="col">---</th>
                            </tr>
                            <tr>
                                <th scope="col">---</th>
                                <th scope="col">---</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="card-text">
                        <p class="text-center">
                            <button type="button" class="btn btn-primary pull-right">Invest Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Mid Caps </h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Risk</th>
                                <th scope="col">Moderate</th>
                            </tr>
                            <tr>
                                <th scope="col">Coins(30%)</th>
                                <th scope="col">Top 5</th>
                            </tr>
                            <tr>
                                <th scope="col">Coins(70%)</th>
                                <th scope="col">Next 10</th>
                            </tr>
                            <tr>
                                <th scope="col">Investment Type</th>
                                <th scope="col">Systematic</th>
                            </tr>
                            <tr>
                                <th scope="col">---</th>
                                <th scope="col">---</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="card-text">
                        <p class="text-center">
                            <button type="button" class="btn btn-primary pull-right">Invest Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Small Caps </h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Risk</th>
                                <th scope="col">High</th>
                            </tr>
                            <tr>
                                <th scope="col">Reward</th>
                                <th scope="col">High</th>
                            </tr>
                            <tr>
                                <th scope="col">Coins(20%)</th>
                                <th scope="col">Top 5</th>
                            </tr>
                            <tr>
                                <th scope="col">Coins(80%)</th>
                                <th scope="col">Next 15</th>
                            </tr>
                            <tr>
                                <th scope="col">Investment Type</th>
                                <th scope="col">Systematic</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="card-text">
                        <p class="text-center">
                            <button type="button" class="btn btn-primary pull-right">Invest Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Blue Chip</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Risk</th>
                                <th scope="col">Ultra High</th>
                            </tr>
                            <tr>
                                <th scope="col">Coins</th>
                                <th scope="col">Any</th>
                            </tr>
                            <tr>
                                <th scope="col">Investment Type</th>
                                <th scope="col">Systematic</th>
                            </tr>
                            <tr>
                                <th scope="col">---</th>
                                <th scope="col">---</th>
                            </tr>
                            <tr>
                                <th scope="col">---</th>
                                <th scope="col">---</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="card-text">
                        <p class="text-center">
                            <button type="button" class="btn btn-primary pull-right">Invest Now</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Investment Plan Ends -->
        <!-- ============================================================== -->
        <!-- Referral and active investment plans -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Referral Link</h4>
                    </div>
                    <div class="card-body border-top">
                        <div class="row">
                            <div class="col-lg-8 col-xs-6">
                                <input type="text" class="form-control" id="myInput" value="https://SIPIndia.io/join/48984/">
                            </div>
                            <br><br><br>
                            <div class="col-lg-4 col-xs-6">
                                <button type="button" class="btn btn-success" onclick="myFunction()" onmouseout="outFunc()"><span class="tooltiptext" id="myTooltip">Copy to clipboard</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        Copyright &copy; 2020 SIP INDIA All rights reserved.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}