<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>ADI - Agrregate Digital Innovation</title>
    <meta content="Admin Dashboard" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename='assets/plugins/morris/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">
                <div class="p-3">
                    <form class="form-horizontal" action="https://socialmine.net/add_user/" method="post">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> A confirmation email has been sent. Please, check your mailbox.</div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="email" required="" placeholder="email" name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="password" required="" placeholder="password" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label font-weight-normal" for="customCheck1">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center row m-t-20">
                            <div class="col-12">
                                <button class="btn btn-danger btn-block waves-effect waves-light" type="submit">Register</button>
                            </div>
                        </div>
                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20 text-center"><a href="https://socialmine.net/login/" class="text-muted">Already have account?</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery  -->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/modernizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/detect.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/fastclick.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.blockUI.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waves.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollTo.min.js') }}"></script>
    <!-- App js -->
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</body>

</html>
